.header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    align-items: center; 
}

.header-logo {
    margin-left: 100px;
    font-size: 24px;
}

.header-links {
    margin-right: 100px;
}

ul {
    display: flex;
    gap: 16px;
}

.content1 {
    display: flex; 
    margin-top: 100px;  
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content1-left {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.content1-right {
    margin-right: 100px;
}

